@charset "UTF-8";

.tableResponsive {
	overflow: hidden;
	width: 100%;
	height: auto;
}

#content .content-wrapper .heading h1.page-header i {
	color: #75b9e6;
	opacity: 0.5;
}

.loginErrorInfo {
	font-size: 14px;
	position: absolute;
	left: 1px;
	top: 4px;
	color: red;
	opacity: 0.5;
}
