@charset "UTF-8";

.tableResponsive {
	overflow: hidden;
	width: 100%;
	height: auto;
}

#content .content-wrapper .heading h1.page-header i {
	color: #75b9e6;
	opacity: 0.5;
}

.loginErrorInfo {
	font-size: 14px;
	position: absolute;
	left: 1px;
	top: 4px;
	color: red;
	opacity: 0.5;
}

.icheckbox_flat-blue{
	position: relative;

	input{
		position: absolute; opacity: 0;
	}
}

.iCheck-helper {
	position: absolute;
	top: 0%;
	left: 0%;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: rgb(255, 255, 255);
	border: 0px;
	opacity: 0;
}
