///////////////////////////////////////
// default

/* default fg */

.fg {
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 6px;
}

.fg-label {
	padding-top: 7px;
	margin-bottom: 0;
	font-weight: normal;

	.required {
		color: #D16E6C;
		display: inline-block;
		width: 8px;
		margin-left: -8px;
	}
}

.fg-control {
	position: relative;
	min-height: 1px;
	padding-top: 7px;

	.to{
		margin-left: 5px;
		margin-right: 5px;
	}
}

/* has-error */

.fg.has-error .fg-label {
	color: #D16E6C;
}

.fg.has-error input, .fg.has-error select, .fg.has-error textarea {
	border-color: #f2a696;
	color: #D68273;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* tooltip */

.fg.has-error .tooltip {
	opacity: 1;

	.tooltip-arrow {
		left: 20px;
		margin-left: 0;
		border-bottom-color: #D16E6C;
	}

	.tooltip-inner {
		background-color: #D16E6C;
	}
}

///////////////////////////////////////
// horizontal

.form-horizontal {
	.fg {
		margin-right: 15px;
		margin-left: 15px;
	}

	$labelWidth: 105px;

	.fg-label {
		float: left;
		width: $labelWidth;
	}

	.fg-control {
		float: left;
		width: calc(100% - #{$labelWidth});
	}
}

$labelWidths: (50, 75, 100, 125, 150, 175, 200, 225, 250, 275 300);

@each $width in $labelWidths {
	.form-label-#{$width} {
		.fg-label {
			width: #{$width}px;
		}
		.fg-control {
			width: calc(100% - #{$width}px);
		}
	}
}

///////////////////////////////////////
// inline
.form-inline {

	.fg {
		margin-right: 10px;
		margin-left: 0;
		float: left;
		width: auto;
		white-space: nowrap;
	}

	.fg-label {
		float: left;
		width: auto;
		padding-top: 12px;
		white-space: nowrap;
	}

	.fg-control {
		float: left;
		width: auto;
		white-space: nowrap;
	}

	.clear {
		clear: none;
	}
}

///////////////////////////////////////
// label对齐方式
.form-left {
	.fg-label {
		text-align: left;
	}
}

.form-center {
	.fg-label {
		text-align: center;
	}
}

.form-right {
	.fg-label {
		text-align: right;
	}
}

// Input
.fg-input {
	.fg-label {
		padding-top: 12px;
	}
}

// Checkbox
.fg-checkbox {

	.fg-control {
		padding-top: 7px;

		label {
			vertical-align: middle;
			font-weight: normal;

			input {
				vertical-align: top;
				margin-right: 5px;
			}
		}
	}
}

// Select
.fg-select {
	.fg-label {
		padding-top: 12px;
	}
}

.buttons {
	button {
		margin: 0 5px;
	}
}
